data/flows.json
[
    {
        "id": "afef7fa2637a5035",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "http_in_r700",
        "type": "http in",
        "z": "afef7fa2637a5035",
        "name": "R700 Webhook In",
        "url": "/impinj",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "send_r700_ok",
                "5191c79f59fa6ebb",
                "e8f19689a80244e8"
            ]
        ]
    },
    {
        "id": "extract_body",
        "type": "change",
        "z": "afef7fa2637a5035",
        "name": "msg.payload = req.body",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "req.body",
                "tot": "msg"
            }
        ],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "split_events"
            ]
        ]
    },
    {
        "id": "split_events",
        "type": "split",
        "z": "afef7fa2637a5035",
        "name": "Split array of events",
        "splt": "1",
        "spltType": "len",
        "arraySplt": 1,
        "stream": false,
        "addname": "",
        "x": 760,
        "y": 160,
        "wires": [
            [
                "process_event"
            ]
        ]
    },
    {
        "id": "process_event",
        "type": "function",
        "z": "afef7fa2637a5035",
        "name": "Transform → 3rd Party Payload",
        "func": "let apiKey = env.get(\"EXTERNAL_API_KEY\");\n\n// Extract fields\nlet event = msg.payload;\n\n// Time selection\nlet isoTime = event?.tagInventoryEvent?.lastSeenTime || event?.timestamp || new Date().toISOString();\nlet timeMs = Date.parse(isoTime);\nif (isNaN(timeMs)) timeMs = Date.now();\n\n// Construct payload exactly as required\nmsg.payload = {\n    attributes: {\n        time: isoTime\n    },\n    event_type_uid: \"ed857b63-e1ef-4aa5-911e-c453408708e4\",\n    camera_id: event.hostname,   // Reader hostname\n    time_ms: timeMs\n};\n\n// Prepare headers\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"x-api-auth\": apiKey  // Must be set in Node-RED env\n};\n\n// Store retry count\nmsg.retry = msg.retry || 0;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "post_verkada"
            ]
        ]
    },
    {
        "id": "post_verkada",
        "type": "http request",
        "z": "afef7fa2637a5035",
        "name": "POST → 3rd Party API",
        "method": "POST",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://webhook.site/3f57a0c0-8542-454f-8a59-f43abba1566d",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1360,
        "y": 200,
        "wires": [
            [
                "log_success"
            ]
        ]
    },
    {
        "id": "log_success",
        "type": "debug",
        "z": "afef7fa2637a5035",
        "name": "Success → Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1500,
        "y": 60,
        "wires": []
    },
    {
        "id": "send_r700_ok",
        "type": "http response",
        "z": "afef7fa2637a5035",
        "name": "Ack to R700 (200)",
        "statusCode": "",
        "headers": {},
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "catch_errors",
        "type": "catch",
        "z": "afef7fa2637a5035",
        "name": "Catch errors",
        "scope": [
            "post_verkada"
        ],
        "uncaught": false,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "retry_logic"
            ]
        ]
    },
    {
        "id": "retry_logic",
        "type": "function",
        "z": "afef7fa2637a5035",
        "name": "Retry w/ exponential backoff",
        "func": "let retry = msg.retry || 0;\nretry++;\n\nif (retry > 5) {\n    node.error(\"Retry limit exceeded\", msg);\n    return null; // Stop retrying\n}\n\nmsg.retry = retry;\n\nlet delay = Math.pow(2, retry) * 1000; // 2s, 4s, 8s, 16s, 32s\nmsg.delay = delay;\n\nnode.warn(`Retry #${retry} in ${delay}ms`);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "5198d30ba26760d7"
            ]
        ]
    },
    {
        "id": "5191c79f59fa6ebb",
        "type": "function",
        "z": "afef7fa2637a5035",
        "name": "verify payload",
        "func": "// If payload is missing entirely\nif (msg.payload === null || msg.payload === undefined) {\n    return null;   // stop flow\n}\n\n// If payload is an empty string\nif (typeof msg.payload === \"string\" && msg.payload.trim() === \"\") {\n    return null;   // stop flow\n}\n\n// If payload is an empty array\nif (Array.isArray(msg.payload) && msg.payload.length === 0) {\n    return null;   // stop flow\n}\n\n// If payload is an empty object\nif (typeof msg.payload === \"object\" && !Array.isArray(msg.payload)) {\n    if (Object.keys(msg.payload).length === 0) {\n        return null;   // stop flow\n    }\n}\n\n// Otherwise, payload is valid → continue\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 80,
        "wires": [
            [
                "extract_body",
                "807af1b5df02c36a"
            ]
        ]
    },
    {
        "id": "5198d30ba26760d7",
        "type": "delay",
        "z": "afef7fa2637a5035",
        "name": "Delay before retry",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "post_verkada"
            ]
        ]
    },
    {
        "id": "e8f19689a80244e8",
        "type": "debug",
        "z": "afef7fa2637a5035",
        "name": "debug Webhook",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "807af1b5df02c36a",
        "type": "debug",
        "z": "afef7fa2637a5035",
        "name": "debug Payload Verifier",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    }
]